{% extends 'layouts/main.html' %}

{% block title %}My Page{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}
<div class="main-container">
    <header class="main-header">
        <div class="logo"><a href="/">GO RIDE</a></div>
    </header>
    <div class="screen-center">
        <img class="logo" src="/assets/images/logo-transparent.png"/>
        <h2 class="tag-line">Go Ride with Us!</h2>
        <form method="post">
            <div class="inline-text-button">
                <input type="email" name="email" placeholder="Enter your email here.." required/>
                <button class="btn waves-effect waves-light btn" type="submit">Subscribe</button>
            </div>
        </form>
        <span class="help-you">
            We'll help you find adventure
            </br>
            that you are looking for.
        <span>
    </div>
</div>
{% endblock %}
